[Unit]
Description=SoulLink V13 Module market_injector
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/mnt/nvme/soullink_brain
ExecStart=/usr/bin/python3 /mnt/nvme/soullink_brain/market_injector.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
